# for database
DATABASE_CONTAINER_NAME=postgres
DATABASE_VOLUME=/goinfre/${USER}/postgres

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

# for frontend
FRONTEND_CONTAINER_NAME=frontend
FRONTEND_IMAGE_NAME=frontend_image
FRONTEND_IMAGE_TAG=alpine

# for backend
BACKEND_CONTAINER_NAME=backend
BACKEND_IMAGE_NAME=backend_image
BACKEND_IMAGE_TAG=latest

# for Django
PYTHONUNBUFFERED=True
DJANGO_DEBUG=True

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin
SECRET_KEY=django-insecure-x3!8ygjvywgu87m%y4t_*-751j9d)^7h1#m$*e1uq+)b(8)wie


#Production Config
GUNICORN_WORKERS=5

