# for database
DATABASE_CONTAINER_NAME=postgres
DATABASE_VOLUME=/goinfre/${USER}/postgres

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

# for frontend
FRONTEND_CONTAINER_NAME=frontend
FRONTEND_IMAGE_NAME=frontend_image
FRONTEND_IMAGE_TAG=alpine

# for backend
BACKEND_CONTAINER_NAME=backend
BACKEND_IMAGE_NAME=backend_image
BACKEND_IMAGE_TAG=latest

# for Django
PYTHONUNBUFFERED=True
DJANGO_DEBUG=True

# for game
GAME_CONTAINER_NAME=game
GAME_IMAGE_NAME=game_image
GAME_IMAGE_TAG=latest

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin
SECRET_KEY=django-insecure-x3!8ygjvywgu87m%y4t_*-751j9d)^7h1#m$*e1uq+)b(8)wie

# for oauth
CLIENT_ID=u-s4t2ud-1c3b115249c3da127de46dd4e2de76774941f2e88b6c8a71b485ad540dad4810
CLIENT_SECRET=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

#Production Config
GUNICORN_WORKERS=5

